.btn {
  text-align: center;

  a {
    text-decoration: none;
  }

  .basic {
    width: 70%;
    color: #fff;
    background-color: #B51717;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    letter-spacing: 0.1em;

    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      bottom: 0;
      right: 10px;
      margin: auto;
      background: url("/images/btn-circle_arrow.png") no-repeat center;
      background-size: contain;
    }

  }

}