@charset "UTF-8";
body {
  font-size: 14px;
  line-height: 1.2;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", arial, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html {
  overflow-y: scroll; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

input,
textarea {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th {
  text-align: left; }

html {
  font-size: 6.25%; }

* {
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

a {
  color: #1096AD;
  text-decoration: underline;
  transition: .3s ease-in-out; }

a:hover {
  opacity: 0.7; }

body {
  font-size: 14px;
  line-height: 1.6;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", sans-serif;
  color: #333;
  font-size: 16px;
  font-size: 16rem; }

img {
  width: 100%; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

p {
  line-height: 1.6; }
  p + p {
    margin-top: 20px; }

.btn {
  text-align: center;
  margin-top: 30px; }
  .btn.left {
    text-align: left; }
  .btn a {
    text-decoration: none; }
  .btn .basic, .btn .whborder {
    width: 70%;
    color: #fff;
    background-color: #B51717;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    letter-spacing: 0.1em; }
    .btn .basic:before, .btn .whborder:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      bottom: 0;
      right: 10px;
      margin: auto;
      background: url("../images/btn-circle_arrow.png") no-repeat center;
      background-size: contain; }
  .btn .whborder {
    border: 2px solid #fff;
    padding: 8px 36px 8px 18px;
    background-color: transparent;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

.sub {
  margin-top: 60px; }

.arrowlink {
  font-size: 14rem;
  text-decoration: none;
  color: #fff;
  font-weight: normal; }
  .arrowlink span {
    position: relative;
    padding: 0 11px 0 0;
    border-bottom: 1px solid #ddd; }
    .arrowlink span:before {
      display: block;
      content: "";
      position: absolute;
      bottom: -1px;
      right: -8px;
      background-image: url("../images/img-arrowpart.png");
      background-repeat: no-repeat;
      background-position: right;
      -ms-background-size: contain;
      background-size: contain;
      width: 10px;
      height: 4px; }

.contbox {
  padding: 50px 0; }
  .contbox + .contbox {
    margin-top: 60px; }

.continner {
  padding: 0 3%; }

.ttl, .ttl--right, .ttl--center {
  font-size: 32rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 60px;
  line-height: 1;
  letter-spacing: 0.02em; }
  .ttl span, .ttl--right span, .ttl--center span {
    font-weight: normal;
    font-size: 14rem;
    display: block;
    position: relative;
    top: 26px; }
    .ttl span:before, .ttl--right span:before, .ttl--center span:before {
      content: "";
      display: block;
      width: 55px;
      height: 3px;
      background: #D71717;
      position: absolute;
      top: -14px;
      left: 0; }
  .ttl--right {
    text-align: right; }
    .ttl--right span:before {
      left: inherit;
      right: 0; }
  .ttl--center {
    text-align: center; }
    .ttl--center span:before {
      right: 0;
      margin: auto; }

.rank {
  text-align: center;
  font-size: 27rem;
  font-weight: bold; }

.strip_bg {
  display: inline-block;
  position: relative;
  z-index: 1; }
  .strip_bg:before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: -15%;
    z-index: -1;
    width: 130%;
    height: 25px; }
  .strip_bg.gold:before {
    background: url("../images/bg-stripe_gold.png") repeat; }
  .strip_bg.silver:before {
    background: url("../images/bg-stripe_silver.png") repeat; }
  .strip_bg.bronze:before {
    background: url("../images/bg-stripe_bronze.png") repeat; }

.floatnone {
  float: none !important; }

.ta-c {
  text-align: center !important; }

.fcwh {
  color: #fff; }

@media screen and (min-width: 850px) {
  .u-sp-b {
    display: none; } }

@media screen and (max-width: 849px) {
  .u-pc-b {
    display: none; } }

@media screen and (min-width: 850px) {
  .btn {
    text-align: center; }
    .btn .basic, .btn .whborder {
      min-width: 250px;
      color: #fff;
      background-color: #B51717;
      display: inline-block;
      padding: 10px 38px 10px 20px;
      position: relative;
      width: auto; }
      .btn .basic:before, .btn .whborder:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        bottom: 0;
        right: 10px;
        margin: auto;
        background: url("../images/btn-circle_arrow.png") no-repeat center;
        background-size: contain; }
    .btn .whborder {
      padding: 8px 36px 8px 18px;
      background-color: transparent; }
      .btn .whborder:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.4); }
  .contbox {
    padding: 70px 0; }
    .contbox + .contbox {
      margin-top: 80px; } }

@media screen and (min-width: 850px) and (min-width: 850px) {
  .u-sp-b {
    display: none; } }

@media screen and (min-width: 850px) and (max-width: 849px) {
  .u-pc-b {
    display: none; } }

.header-top_menu,
.header-tool_menu {
  display: none; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background: #fff;
  padding: 10px;
  max-height: 55px; }

.header-logo {
  float: left;
  height: 38px;
  transition: .3s ease-in-out; }
  .header-logo img {
    width: auto;
    height: 100%; }

.header-g_navi {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100vh;
  padding: 55px 3% 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .header-g_navi li {
    text-align: center; }
    .header-g_navi li a {
      font-size: 14rem;
      padding: 15px 10px;
      display: block;
      color: #000; }
  .header-g_navi > li {
    border-top: 1px solid #979797; }
    .header-g_navi > li:last-child {
      border-bottom: 1px solid #979797; }
  .header-g_navi .header-menu_blog {
    position: relative;
    background-color: #114a88;
    display: none; }
    .header-g_navi .header-menu_blog:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 12px 9px;
      border-color: transparent transparent #124b88;
      position: absolute;
      top: -12px;
      left: 0;
      right: 0;
      margin: auto; }
    .header-g_navi .header-menu_blog a {
      color: #fff; }
    .header-g_navi .header-menu_blog .c-circle_tri {
      font-weight: bold; }
    .header-g_navi .header-menu_blog .header-menu_blog-in-hide {
      display: none;
      width: 80%;
      margin: 0 auto; }
      .header-g_navi .header-menu_blog .header-menu_blog-in-hide li {
        width: 50%;
        float: left; }

header.bgc {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 5px 10px 0;
  border-bottom: 1px  solid #121212; }
  header.bgc .header-logo {
    width: 15%;
    margin-top: 0;
    max-width: 50px; }
  header.bgc .header-panel_btn {
    top: 12px;
    right: 2.8%; }

.header-space {
  margin-top: 55px; }

footer {
  margin-top: 70px;
  padding: 5px 0;
  text-align: center;
  background: #282828; }
  footer small {
    font-size: 10rem;
    color: #B0B0B0; }

.centering {
  padding: 0 3%; }

.fv {
  height: 100vh;
  background: url("../images/bg-top--pc.jpg") no-repeat center/cover;
  position: relative; }
  .fv p + p {
    margin-top: 0; }
  .fv:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #B12C2C; }
  .fv-inner {
    position: absolute;
    width: 40%;
    min-width: 260px;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .fv .logo {
    text-align: center;
    color: #fff; }
    .fv .logo .ttl, .fv .logo .ttl--right, .fv .logo .ttl--center {
      display: block;
      letter-spacing: 0.4em;
      margin-bottom: 15px; }
  .fv-detail {
    margin-top: 20px;
    color: #fff;
    min-width: 275px;
    text-align: center; }
  .fv a {
    color: #fff;
    text-decoration: underline; }
  .fv .shortcut-pc {
    display: none; }
  .fv .shortcut-sp {
    display: block;
    margin-top: 30px; }
    .fv .shortcut-sp .btn + .btn {
      margin-top: 15px; }
    .fv .shortcut-sp .btn .basic, .fv .shortcut-sp .btn .whborder {
      text-decoration: none;
      width: 100%; }

.about {
  margin-top: 20px; }
  .about .imgbox {
    margin-top: 40px; }
    .about .imgbox img {
      width: 33.33%;
      float: left;
      padding: 0 1%; }
    .about .imgbox figcaption {
      font-size: 14rem; }

.guest {
  background-image: linear-gradient(to bottom, #ed6ea0 0%, #ec8c69 100%); }
  .guest .guestblock {
    border: 1px solid #F8F8F8;
    background-color: #fff;
    padding: 10px; }
  .guestbox + .guestbox {
    margin-top: 70px;
    position: relative; }
    .guestbox + .guestbox:before {
      content: "";
      display: block;
      width: 75px;
      height: 1px;
      background: #D71717;
      position: absolute;
      top: -46px;
      left: 0;
      right: 0;
      margin: auto; }
  .guestbox figcaption {
    margin-top: 5px; }
    .guestbox figcaption span {
      display: block; }
    .guestbox figcaption .name {
      font-size: 22rem;
      font-weight: bold; }
    .guestbox figcaption .company {
      font-size: 14rem; }
  .guestbox_txt {
    margin-top: 12px; }
  .guestbox .sns {
    margin-top: 10px;
    margin-left: -10px; }
    .guestbox .sns ul {
      display: table;
      width: 20%;
      min-width: 100px; }
    .guestbox .sns li {
      display: table-cell;
      padding: 0 10px; }

.attend {
  background: url("../images/bg-attend--sp.jpg") no-repeat top center/cover; }
  .attend .btn + .btn {
    margin-top: 10px; }

.workshop {
  text-align: center; }
  .workshop.contbox {
    padding: 0 0 50px; }
  .workshop .name {
    font-weight: bold;
    font-size: 20rem; }
  .workshop .txt {
    font-size: 14rem; }
  .workshop .workshopbox + .workshopbox {
    margin-top: 40px; }
  .workshop .place {
    margin-top: 5px; }
  .workshop .time {
    margin-top: 0; }

.party.contbox {
  margin-top: 10px; }

.party .txtbox {
  text-align: center; }

.party .imgbox {
  width: 80%;
  margin: 15px auto 0; }

.sponsor {
  background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%); }
  .sponsor .centering {
    padding: 30px 3%; }
  .sponsor .sponsorblock {
    border-radius: 10px;
    position: relative;
    padding: 10px 0 70px;
    background-color: #fff; }
    .sponsor .sponsorblock + .sponsorblock {
      margin-top: 60px; }
    .sponsor .sponsorblock.first {
      margin-top: 80px; }
  .sponsor .sponsorbox {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 12rem;
    margin-top: 40px; }
    .sponsor .sponsorbox img {
      width: 60%;
      margin: 0 auto;
      display: block; }
    .sponsor .sponsorbox figcaption {
      margin-top: 15px;
      line-height: 1.8; }

.access .continner {
  padding: 0; }

.access .map {
  margin-top: 20px;
  height: 400px;
  width: 100%; }

.access .maplink {
  margin-top: 5px;
  text-align: right; }

.subarea a {
  padding: 20px;
  display: block;
  color: #fff;
  text-decoration: none; }

.subarea.contbox {
  margin-top: 0px;
  padding: 20px 0 60px; }

.subarea .linkbox {
  margin-top: 30px;
  text-align: right;
  padding-right: 5px; }

.subarea .subbox {
  width: 85%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .subarea .subbox .txtbox {
    font-size: 14rem;
    font-weight: normal; }
  .subarea .subbox + .subbox {
    margin-top: 30px; }

.subarea .contact {
  background-image: url("../images/bg-contact.jpg"); }

.subarea .staff {
  background-image: url("../images/bg-staff.jpg"); }

.staff .ttl--center {
  margin-bottom: 100px; }

.staff.contentbox {
  padding-top: 0px;
  padding-bottom: 60px; }

.staff .stafflist {
  text-align: center;
  position: relative;
  z-index: 10; }
  .staff .stafflist li {
    width: 17%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 14px;
    vertical-align: top; }
    .staff .stafflist li span {
      display: block; }
    .staff .stafflist li img {
      vertical-align: top; }
    .staff .stafflist li .detail {
      margin-top: 10px;
      display: block;
      font-size: 10rem;
      text-decoration: none; }
      .staff .stafflist li .detail .job {
        font-size: 9rem;
        line-height: 1;
        color: #8A8A8A; }
      .staff .stafflist li .detail .name {
        word-break: break-all;
        line-height: 1.4;
        color: #3DA69C; }

.staff .staffblock {
  margin-top: 50px;
  padding: 40px 0 30px;
  position: relative;
  border-top: 1px solid #929292; }
  .staff .staffblock:before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top: 1px solid #929292; }

.staff .staffttl {
  text-align: center;
  position: absolute;
  top: -17px;
  z-index: 5;
  display: block;
  font-weight: bold;
  font-size: 18rem;
  padding: 5px 15px;
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  min-width: 180px; }

.timetable {
  width: 100%;
  text-align: center; }
  .timetable th,
  .timetable td {
    padding: 5px;
    width: 100%;
    display: block;
    border: 1px solid #fbfbfb; }
  .timetable .detail {
    padding: 20px 5px; }
    .timetable .detail .timettl, .timetable .detail .timettl--underbar {
      font-weight: bold;
      font-size: 18rem; }
      .timetable .detail .timettl--underbar {
        position: relative;
        padding-bottom: 16px; }
        .timetable .detail .timettl--underbar:before {
          content: "";
          display: block;
          width: 30px;
          height: 1px;
          left: 0;
          right: 0;
          margin: auto;
          background-color: #e14646;
          position: absolute;
          bottom: 6px; }
    .timetable .detail .speaker {
      position: relative;
      display: inline-block;
      padding-left: 5px;
      margin-top: 4px; }
      .timetable .detail .speaker:before {
        content: "";
        position: absolute;
        display: block;
        top: 1px;
        left: -20px;
        width: 20px;
        height: 25px;
        background: url("../images/ico-speaker.png") no-repeat center;
        background-size: contain; }
  .timetable th {
    text-align: center;
    background-color: #fff; }
    .timetable th.rest {
      padding: 20px 5px; }
    .timetable th.time {
      background-color: #f9f9f9;
      padding: 10px 5px;
      font-weight: normal; }
      .timetable th.time_inner {
        position: relative; }
        .timetable th.time_inner:before {
          content: "";
          display: block; }
  .timetable .workshop {
    margin-top: 100px; }

@media screen and (min-width: 850px) {
  .bgc {
    background-color: rgba(0, 0, 0, 0.6); }
    .bgc .header-logo {
      width: 75px;
      max-width: inherit; }
      .bgc .header-logo a {
        display: block; }
  .reservedbnr {
    position: fixed;
    top: 110px;
    width: auto;
    right: 0; }
    .reservedbnr img {
      width: 100%; }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    color: #fff;
    padding: 20px;
    transition: .3s ease-in-out; }
    header .header-logo {
      width: 95px;
      max-width: inherit; }
      header .header-logo a {
        display: block; }
      header .header-logo img {
        width: 100%; }
    header.u-pc-b .header-search {
      width: 155px;
      margin-left: 20px; }
      header.u-pc-b .header-search input {
        border: none;
        width: 100%;
        height: 27px;
        background: rgba(255, 255, 255, 0.4) url("../images/common/ico-search--wh.png") 95% 45% no-repeat;
        background-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding-left: 5px;
        padding-right: 26px; }
    header.u-pc-b .header-language {
      width: 150px;
      margin-right: 0;
      top: 0; }
    header.u-pc-b .header-nav_top {
      text-align: right; }
      header.u-pc-b .header-nav_top .header-sns,
      header.u-pc-b .header-nav_top .header-language,
      header.u-pc-b .header-nav_top .header-search {
        display: inline-block; }
    header.u-pc-b .header-nav_bottom {
      line-height: 1;
      position: relative;
      top: -3px; }
    header.u-pc-b .header-g_navi {
      display: block;
      position: static;
      background: transparent;
      width: auto;
      height: auto;
      padding: 0;
      margin-top: 20px; }
      header.u-pc-b .header-g_navi .header-g_navi_list {
        margin-top: -2px;
        text-align: center; }
        header.u-pc-b .header-g_navi .header-g_navi_list li {
          display: inline-block; }
        header.u-pc-b .header-g_navi .header-g_navi_list a {
          padding: 5px 0; }
        header.u-pc-b .header-g_navi .header-g_navi_list > li > a {
          display: block;
          color: #fff;
          font-size: 14rem;
          padding: 3px 18px;
          border-left: 1px dotted #fff;
          letter-spacing: 0.07em; }
        header.u-pc-b .header-g_navi .header-g_navi_list > li:last-child > a {
          border-right: 1px dotted #fff; }
    header.u-pc-b .header-sns {
      width: 27px;
      margin: 0;
      display: inline-block; }
      header.u-pc-b .header-sns li {
        float: none;
        display: inline-block;
        width: auto; }
        header.u-pc-b .header-sns li a {
          padding: 3px 5px;
          display: block; }
      header.u-pc-b .header-sns .header-sns--insta {
        line-height: 0;
        width: 18px;
        vertical-align: middle; }
      header.u-pc-b .header-sns .header-sns--fb {
        line-height: 0;
        width: 19px;
        vertical-align: middle; }
  .header-sublink {
    font-size: 14rem;
    margin-top: 4px; }
    .header-sublink li {
      display: inline-block;
      margin-left: 20px; }
      .header-sublink li a {
        color: #fff; }
  header.u-pc-b .header-g_navi .header-g_navi_list-inlist {
    visibility: hidden;
    display: block;
    opacity: 0;
    transition: .3s ease-in-out; }
  header.u-pc-b .header-g_navi .header-g_navi_list .header-g_navi_list-inlist {
    position: absolute;
    text-shadow: 1px 1px 3px #000;
    top: 25px;
    left: 0;
    width: 220px;
    padding: 5px 0; }
    header.u-pc-b .header-g_navi .header-g_navi_list .header-g_navi_list-inlist a {
      font-size: 14rem;
      letter-spacing: 0.1em; }
  header.u-pc-b .header-g_navi .header-g_navi_list .toggle {
    position: relative;
    padding: 4px 0; }
    header.u-pc-b .header-g_navi .header-g_navi_list .toggle li {
      display: block;
      text-align: left;
      padding: 2px 20px; }
    header.u-pc-b .header-g_navi .header-g_navi_list .toggle:hover .header-g_navi_list-inlist {
      visibility: visible;
      opacity: 1; }
      header.u-pc-b .header-g_navi .header-g_navi_list .toggle:hover .header-g_navi_list-inlist li a {
        border: none; }
    header.u-pc-b .header-g_navi .header-g_navi_list .toggle .header-g_navi_list-inlist:hover {
      opacity: 1; }
  header.u-pc-b .header-g_navi > li > a {
    display: block;
    color: #fff;
    font-size: 14rem;
    padding: 3px 18px;
    border-left: 1px solid #777;
    letter-spacing: 0.07em; }
  header.u-pc-b .header-g_navi > li:last-child > a {
    border-right: 1px solid #777; }
  .fv {
    height: 40vh; }
    .fv .fv-inner {
      top: 49%; }
    .fv .fv-detail {
      margin-top: 10px; }
    .fv .logo {
      margin-left: 3px;
      min-width: 280px; }
      .fv .logo .logo_img {
        width: 280px; }
      .fv .logo .ttl, .fv .logo .ttl--right, .fv .logo .ttl--center {
        font-size: 19rem; }
    .fv .shortcut-sp {
      display: none; }
    .fv .shortcut-pc {
      position: absolute;
      bottom: 0;
      right: 20px;
      display: block;
      margin-top: 30px;
      width: 33%; }
    .fv .shortcutlist {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end;
      position: relative;
      bottom: -37px; }
  .circleico {
    padding: 5px;
    width: 90px;
    display: block; }
  .continner {
    width: 850px;
    margin: 0 auto;
    padding: 0; }
  .about .right {
    float: right;
    width: 560px; }
  .about .imgbox {
    float: left;
    width: 230px;
    margin-right: 30px;
    margin-top: 0;
    /* Safari */
    -ms-flex-direction: column;
        flex-direction: column; }
    .about .imgbox img {
      padding: 5px 0;
      width: 100%; }
  .guest {
    background: transparent;
    position: relative; }
    .guest:before {
      content: "";
      display: block;
      position: absolute;
      height: 59%;
      padding-top: 50px;
      height: 60%;
      width: 100%;
      top: -10px;
      z-index: -1;
      background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%); }
    .guest .guestblock {
      padding: 11px 10px 40px;
      border: 1px solid #DEDEDE; }
    .guestbox {
      float: left;
      width: 47.4%;
      margin-left: 3%; }
      .guestbox:first-child {
        margin-left: 1%; }
      .guestbox + .guestbox {
        margin-top: 0; }
        .guestbox + .guestbox:before {
          display: none; }
      .guestbox figcaption {
        margin-top: 5px; }
        .guestbox figcaption span {
          display: block; }
        .guestbox figcaption .name {
          font-size: 22rem;
          font-weight: bold; }
        .guestbox figcaption .company {
          font-size: 14rem; }
      .guestbox_txt {
        margin-top: 12px; }
      .guestbox .detail {
        float: right;
        width: 93%; }
      .guestbox .sns {
        width: 5%;
        float: left;
        margin-left: 0;
        margin-right: 2%; }
        .guestbox .sns ul {
          display: block;
          min-width: inherit;
          width: 100%; }
        .guestbox .sns li {
          display: inline-block;
          padding: 5px 0 0; }
  .attend {
    background: url("../images/bg-attend--pc.jpg") no-repeat top center/cover; }
    .attend .btn {
      display: inline-block; }
      .attend .btn .basic, .attend .btn .whborder {
        min-width: 220px; }
      .attend .btn + .btn {
        margin-top: 0; }
  .workshop .name {
    font-weight: bold;
    font-size: 20rem; }
  .workshop .txt {
    font-size: 14rem; }
  .workshop .workshopbox {
    float: left;
    width: 48%; }
    .workshop .workshopbox + .workshopbox {
      margin-top: 0;
      margin-left: 2%; }
  .party .txtbox {
    text-align: left; }
  .party .imgbox {
    float: right;
    width: 52%; }
  .party .pc-left {
    float: left;
    width: 48%; }
  .party.contbox {
    margin-top: 0; }
  .party .ttl--center {
    text-align: left; }
    .party .ttl--center span:before {
      left: inherit;
      left: 0;
      margin: inherit; }
  .sponsor .centering {
    padding: 30px 3%; }
  .sponsor .sponsorblock {
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: 10px 0 70px;
    background-color: #fff; }
    .sponsor .sponsorblock + .sponsorblock {
      margin-top: 60px; }
    .sponsor .sponsorblock.first {
      margin-top: 80px; }
  .sponsor .sponsorbox {
    width: 80%;
    max-width: 300px;
    float: left;
    margin: 0 auto;
    font-size: 12rem;
    margin-left: 9%;
    display: inline-block;
    margin-top: 40px; }
    .sponsor .sponsorbox img {
      width: 60%;
      margin: 0 auto;
      display: block; }
    .sponsor .sponsorbox figcaption {
      margin-top: 15px;
      line-height: 1.8;
      text-align: left; }
  .sponsor .floatnone {
    margin-left: 0; }
  .access .map {
    margin-top: 20px;
    height: 450px;
    width: 100%; }
  .subarea .subbox {
    float: left;
    width: 46%;
    margin-left: 3%; }
    .subarea .subbox .txtbox {
      font-size: 14rem;
      font-weight: normal; }
    .subarea .subbox + .subbox {
      margin-top: 0; }
  .subarea .contact {
    background-image: url("../images/bg-contact.jpg"); }
  .subarea .staff {
    background-image: url("../images/bg-staff.jpg"); }
  .staff .continner {
    width: 580px; }
  .timetable table {
    width: 80%;
    margin: 0 auto; } }
