@charset "UTF-8";
body {
  font-size: 14px;
  line-height: 1.2;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", arial, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html {
  overflow-y: scroll; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

input,
textarea {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th {
  text-align: left; }

html {
  font-size: 6.25%; }

* {
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

a {
  color: #1096AD;
  text-decoration: underline;
  transition: .3s ease-in-out; }

a:hover {
  opacity: 0.7; }

body {
  font-size: 14px;
  line-height: 1.6;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", sans-serif;
  color: #333;
  font-size: 16px;
  font-size: 16rem; }

img {
  width: 100%; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.btn {
  text-align: center; }
  .btn a {
    text-decoration: none; }
  .btn .basic {
    width: 70%;
    color: #fff;
    background-color: #B51717;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    letter-spacing: 0.1em; }
    .btn .basic:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      bottom: 0;
      right: 10px;
      margin: auto;
      background: url("/images/btn-circle_arrow.png") no-repeat center;
      background-size: contain; }

.btn {
  margin-top: 30px; }

.under_bar {
  position: relative;
  margin-bottom: 40px; }
  .under_bar:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #D71717;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto; }

.en_ttl {
  font-size: 30rem;
  font-weight: bold;
  font-family: Avenir Next;
  margin-bottom: 30px; }

.dot {
  position: relative; }
  .dot:before {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: url("/images/img-dot.png") no-repeat center;
    background-size: contain; }

.ja_ttl {
  font-size: 30rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 60px; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.accent_txt {
  font-weight: normal;
  color: #32A196; }

.attention_color {
  color: #D71717; }

@media screen and (min-width: 850px) {
  .u-sp-b {
    display: none; } }

@media screen and (max-width: 849px) {
  .u-pc-b {
    display: none; } }

@media screen and (min-width: 850px) {
  .btn {
    text-align: center; }
    .btn .basic {
      min-width: 250px;
      color: #fff;
      background-color: #B51717;
      display: inline-block;
      padding: 10px 38px 10px 20px;
      position: relative;
      width: auto; }
      .btn .basic:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        bottom: 0;
        right: 10px;
        margin: auto;
        background: url("/images/btn-circle_arrow.png") no-repeat center;
        background-size: contain; }
  .under_bar {
    position: relative;
    margin-bottom: 80px; }
    .under_bar:before {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background: #D71717;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      margin: auto; }
  .en_ttl {
    font-size: 30rem;
    font-weight: bold;
    font-family: Avenir Next;
    margin-bottom: 30px; }
  .dot {
    position: relative; }
    .dot:before {
      content: "";
      display: block;
      width: 8px;
      height: 6px;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      margin: auto;
      background: url("/images/img-dot.png") no-repeat center;
      background-size: contain; }
  .ja_ttl {
    font-size: 34rem;
    font-weight: bold;
    letter-spacing: 0.15em; }
  .clearfix:after {
    content: " ";
    display: block;
    clear: both; } }

@media screen and (min-width: 850px) and (min-width: 850px) {
  .u-sp-b {
    display: none; } }

@media screen and (min-width: 850px) and (max-width: 849px) {
  .u-pc-b {
    display: none; } }

.header-top_menu,
.header-tool_menu {
  display: none; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background: #fff;
  padding: 10px;
  max-height: 55px; }

.header-logo {
  float: left;
  height: 38px;
  transition: .3s ease-in-out; }
  .header-logo img {
    width: auto;
    height: 100%; }

.header-g_navi {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100vh;
  padding: 55px 3% 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .header-g_navi li {
    text-align: center; }
    .header-g_navi li a {
      font-size: 14rem;
      padding: 15px 10px;
      display: block;
      color: #000; }
  .header-g_navi > li {
    border-top: 1px solid #979797; }
    .header-g_navi > li:last-child {
      border-bottom: 1px solid #979797; }
  .header-g_navi .header-menu_blog {
    position: relative;
    background-color: #114a88;
    display: none; }
    .header-g_navi .header-menu_blog:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 12px 9px;
      border-color: transparent transparent #124b88;
      position: absolute;
      top: -12px;
      left: 0;
      right: 0;
      margin: auto; }
    .header-g_navi .header-menu_blog a {
      color: #fff; }
    .header-g_navi .header-menu_blog .c-circle_tri {
      font-weight: bold; }
    .header-g_navi .header-menu_blog .header-menu_blog-in-hide {
      display: none;
      width: 80%;
      margin: 0 auto; }
      .header-g_navi .header-menu_blog .header-menu_blog-in-hide li {
        width: 50%;
        float: left; }

header.bgc {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 5px 10px 0;
  border-bottom: 1px  solid #121212; }
  header.bgc .header-logo {
    width: 15%;
    margin-top: 0;
    max-width: 50px; }
  header.bgc .header-panel_btn {
    top: 12px;
    right: 2.8%; }

.header-space {
  margin-top: 55px; }

footer {
  margin-top: 120px;
  padding: 5px 0;
  text-align: center;
  background: #282828; }
  footer small {
    font-size: 10rem;
    color: #B0B0B0; }

.centering {
  padding: 0 3%; }

.content_box {
  margin: 40px 0;
  text-align: center;
  padding: 0 3%; }

.fv {
  height: 100vh;
  background: url("/images/bg-top--pc.jpg") no-repeat center/cover;
  position: relative; }
  .fv-inner {
    position: absolute;
    width: 260px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .fv .logo {
    text-align: center;
    color: #fff; }
    .fv .logo .ttl {
      display: block;
      letter-spacing: 0.4em;
      margin-bottom: 15px; }
  .fv-detail {
    margin-top: 20px;
    color: #fff;
    min-width: 275px;
    text-align: center; }

.news-bar {
  background-color: #B40000;
  color: #fff;
  padding: 10px 0; }
  .news-bar dt {
    font-size: 12rem; }
  .news-bar a {
    color: #fff;
    text-decoration: underline; }

.about {
  margin: 30px 0;
  text-align: center; }
  .about .txt p + p {
    margin-top: 20px; }
  .about-inner {
    border-top: 6px solid #D81717;
    border-bottom: 6px solid #D81717;
    padding: 40px 0px 60px;
    background: url("/images/img-gems.svg") no-repeat center 100.3%;
    background-size: contain; }

.wanted {
  margin-top: 80px; }

.guest {
  margin-top: 110px; }
  .guest .under_bar {
    margin-bottom: 50px; }
    .guest .under_bar:before {
      bottom: -23px; }
  .guest .guest_link {
    margin-top: 10px; }
    .guest .guest_link li {
      display: inline-block;
      position: relative;
      margin-left: 4px;
      padding-left: 11px; }
      .guest .guest_link li:before {
        position: absolute;
        display: block;
        content: "/";
        left: -2px; }
      .guest .guest_link li:first-child {
        margin-left: 0;
        padding-left: 0; }
        .guest .guest_link li:first-child:before {
          display: none;
          content: ""; }
  .guest .guest_box {
    margin-top: 80px; }
    .guest .guest_box figcaption {
      margin-top: 15px; }
    .guest .guest_box .guest_box-name {
      display: block;
      font-weight: bold;
      font-size: 22rem;
      letter-spacing: 0.1em; }
    .guest .guest_box .guest_box-company {
      display: block; }

.ippan {
  padding: 60px 0;
  text-align: center; }

.top-rubytxt {
  line-height: 1;
  display: block;
  width: 40%;
  max-width: 130px;
  margin: 0 auto; }

@media screen and (min-width: 850px) {
  .bgc {
    background-color: rgba(0, 0, 0, 0.6); }
    .bgc .header-logo {
      width: 75px;
      max-width: inherit; }
      .bgc .header-logo a {
        display: block; }
  .reservedbnr {
    position: fixed;
    top: 110px;
    width: auto;
    right: 0; }
    .reservedbnr img {
      width: 100%; }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    color: #fff;
    padding: 20px;
    transition: .3s ease-in-out; }
    header .header-logo {
      width: 95px;
      max-width: inherit; }
      header .header-logo a {
        display: block; }
      header .header-logo img {
        width: 100%; }
    header.u-pc-b .header-search {
      width: 155px;
      margin-left: 20px; }
      header.u-pc-b .header-search input {
        border: none;
        width: 100%;
        height: 27px;
        background: rgba(255, 255, 255, 0.4) url("../images/common/ico-search--wh.png") 95% 45% no-repeat;
        background-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding-left: 5px;
        padding-right: 26px; }
    header.u-pc-b .header-language {
      width: 150px;
      margin-right: 0;
      top: 0; }
    header.u-pc-b .header-nav_top {
      text-align: right; }
      header.u-pc-b .header-nav_top .header-sns,
      header.u-pc-b .header-nav_top .header-language,
      header.u-pc-b .header-nav_top .header-search {
        display: inline-block; }
    header.u-pc-b .header-nav_bottom {
      line-height: 1;
      position: relative;
      top: -3px; }
    header.u-pc-b .header-g_navi {
      display: block;
      position: static;
      background: transparent;
      width: auto;
      height: auto;
      padding: 0;
      margin-top: 20px; }
      header.u-pc-b .header-g_navi .header-g_navi_list {
        margin-top: -2px;
        text-align: center; }
        header.u-pc-b .header-g_navi .header-g_navi_list li {
          display: inline-block; }
        header.u-pc-b .header-g_navi .header-g_navi_list a {
          padding: 5px 0; }
        header.u-pc-b .header-g_navi .header-g_navi_list > li > a {
          display: block;
          color: #fff;
          font-size: 14rem;
          padding: 3px 18px;
          border-left: 1px dotted #fff;
          letter-spacing: 0.07em; }
        header.u-pc-b .header-g_navi .header-g_navi_list > li:last-child > a {
          border-right: 1px dotted #fff; }
    header.u-pc-b .header-sns {
      width: 27px;
      margin: 0;
      display: inline-block; }
      header.u-pc-b .header-sns li {
        float: none;
        display: inline-block;
        width: auto; }
        header.u-pc-b .header-sns li a {
          padding: 3px 5px;
          display: block; }
      header.u-pc-b .header-sns .header-sns--insta {
        line-height: 0;
        width: 18px;
        vertical-align: middle; }
      header.u-pc-b .header-sns .header-sns--fb {
        line-height: 0;
        width: 19px;
        vertical-align: middle; }
  .header-sublink {
    font-size: 14rem;
    margin-top: 4px; }
    .header-sublink li {
      display: inline-block;
      margin-left: 20px; }
      .header-sublink li a {
        color: #fff; }
  header.u-pc-b .header-g_navi .header-g_navi_list-inlist {
    visibility: hidden;
    display: block;
    opacity: 0;
    transition: .3s ease-in-out; }
  header.u-pc-b .header-g_navi .header-g_navi_list .header-g_navi_list-inlist {
    position: absolute;
    text-shadow: 1px 1px 3px #000;
    top: 25px;
    left: 0;
    width: 220px;
    padding: 5px 0; }
    header.u-pc-b .header-g_navi .header-g_navi_list .header-g_navi_list-inlist a {
      font-size: 14rem;
      letter-spacing: 0.1em; }
  header.u-pc-b .header-g_navi .header-g_navi_list .toggle {
    position: relative;
    padding: 4px 0; }
    header.u-pc-b .header-g_navi .header-g_navi_list .toggle li {
      display: block;
      text-align: left;
      padding: 2px 20px; }
    header.u-pc-b .header-g_navi .header-g_navi_list .toggle:hover .header-g_navi_list-inlist {
      visibility: visible;
      opacity: 1; }
      header.u-pc-b .header-g_navi .header-g_navi_list .toggle:hover .header-g_navi_list-inlist li a {
        border: none; }
    header.u-pc-b .header-g_navi .header-g_navi_list .toggle .header-g_navi_list-inlist:hover {
      opacity: 1; }
  header.u-pc-b .header-g_navi > li > a {
    display: block;
    color: #fff;
    font-size: 14rem;
    padding: 3px 18px;
    border-left: 1px solid #777;
    letter-spacing: 0.07em; }
  header.u-pc-b .header-g_navi > li:last-child > a {
    border-right: 1px solid #777; }
  .fv .logo {
    margin-left: 3px;
    min-width: 270px;
    margin-bottom: 24px; }
    .fv .logo .logo_img {
      width: 230px; }
    .fv .logo .ttl {
      font-size: 19rem; }
  .centering {
    width: 850px;
    margin: 0 auto;
    padding: 0; }
  .news-bar dl {
    display: table; }
    .news-bar dl dt,
    .news-bar dl dd {
      display: table-cell; }
    .news-bar dl dt {
      letter-spacing: 0.1em;
      width: auto;
      font-size: 14rem; }
    .news-bar dl dd:before {
      content: "…"; }
  .about {
    margin: 80px 0 120px; }
    .about .centering {
      width: 680px; }
    .about .txt p + p {
      margin-top: 20px; }
    .about-inner {
      border-top: 6px solid #D81717;
      border-bottom: 6px solid #D81717;
      padding: 50px 0px 80px;
      background: url("/images/img-gems.svg") no-repeat center 100.3%;
      background-size: contain; }
  .guest {
    margin-top: 110px; }
    .guest-inner {
      margin-top: 80px; }
    .guest .centering {
      padding: 0; }
    .guest .under_bar {
      margin-bottom: 50px; }
      .guest .under_bar:before {
        bottom: -23px; }
    .guest .guest_link {
      margin-top: 15px;
      font-size: 14rem; }
    .guest .guest_box {
      float: left;
      width: 45%;
      margin-left: 10%;
      margin-top: 0; }
      .guest .guest_box:first-child {
        margin-left: 0; }
      .guest .guest_box figcaption {
        margin-top: 15px; }
      .guest .guest_box .guest_box-name {
        display: block;
        font-weight: bold;
        font-size: 22rem;
        letter-spacing: 0.1em; }
      .guest .guest_box .guest_box-company {
        display: block; }
  .ippan {
    margin-top: 60px; }
    .ippan .txt {
      margin-top: 50px; } }
