.sub {
  margin-top: 60px;
}

.arrowlink {
  font-size: 14rem;
  text-decoration: none;
  color: #fff;
  font-weight: normal;

  span {
    position: relative;
    padding: 0 11px 0 0;
    border-bottom: 1px solid #ddd;

    &:before {
      display: block;
      content: "";
      position: absolute;
      bottom: -1px;
      right: -8px;
      background-image: url("../images/img-arrowpart.png");
      background-repeat: no-repeat;
      background-position: right;
      -ms-background-size: contain;
      background-size: contain;
      width: 10px;
      height: 4px;
    }

  }

}

.contbox {
  padding: 50px 0;

  & + .contbox {
    margin-top: 60px;
  }

}

.continner {
  padding: 0 3%;
}

.ttl {
  font-size: 32rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 60px;
  line-height: 1;
  letter-spacing: 0.02em;

  span {
    font-weight: normal;
    font-size: 14rem;
    display: block;
    position: relative;
    top: 26px;

    &:before {
      content: "";
      display: block;
      width: 55px;
      height: 3px;
      background: #D71717;
      position: absolute;
      top: -14px;
      left: 0;
    }

  }

  &--right {
    @extend .ttl;
    text-align: right;

    span {
      &:before {
        left: inherit;
        right: 0;
      }

    }

  }

  &--center {
    @extend .ttl;
    text-align: center;

    span {
      &:before {
        right: 0;
        margin: auto;
      }

    }

  }

}

.rank {
  text-align: center;
  font-size: 27rem;
  font-weight: bold;
}

.strip_bg {
  display: inline-block;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: -15%;
    z-index: -1;
    width: 130%;
    height: 25px;
  }

  &.gold {
    &:before {
      background: url("../images/bg-stripe_gold.png") repeat;
    }

  }

  &.silver {
    &:before {
      background: url("../images/bg-stripe_silver.png") repeat;
    }

  }

  &.bronze {
    &:before {
      background: url("../images/bg-stripe_bronze.png") repeat;
    }

  }

}

.floatnone {
  float: none !important;
}

.ta-c {
  text-align: center !important;
}

.fcwh {
  color: #fff;
}

@media screen and (min-width:850px) {
  .u-sp-b {
    display: none;
  }

}

@media screen and (max-width:849px) {
  .u-pc-b {
    display: none;
  }

}