.btn {
  margin-top: 30px;
}

.under_bar {
  position: relative;
  margin-bottom: 40px;

  &:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #D71717;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
  }

}

.en_ttl {
  text-align: center;
  font-size: 30rem;
  font-weight: bold;
  font-family: Avenir Next;
  margin-bottom: 30px;

  &--italic {
    font-style: italic;
    font-weight: bold;
    top: -27px;
    position: relative;
    font-size: 28rem;
    letter-spacing: 0.1em;
  }

}

.dot {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/img-dot.png")no-repeat center;
    background-size: contain;
  }

}

.ja_ttl {
  text-align: center;
  font-size: 30rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 60px;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.accent_txt {
  font-weight: normal;
  color: #32A196;
}

.attention_color {
  color: #D71717;
}

.en_ttl--border {
  font-size: 30rem;
  font-weight: bold;
  font-family: Avenir Next;
  margin-bottom: 30px;
  top: -27px;
  position: relative;
  font-size: 28rem;
  letter-spacing: 0.1em;
}

.strip_bg {
  display: inline-block;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 27px;
    left: -15%;
    z-index: -1;
    width: 130%;
    height: 25px;
  }

  &.gold {
    &:before {
      background: url("../images/bg-stripe_gold.png") repeat;
    }

  }

  &.silver {
    &:before {
      background: url("../images/bg-stripe_silver.png") repeat;
    }

  }

  &.bronze {
    &:before {
      background: url("../images/bg-stripe_bronze.png") repeat;
    }

  }

}

@media screen and (min-width:850px) {
  .u-sp-b {
    display: none;
  }

}

@media screen and (max-width:849px) {
  .u-pc-b {
    display: none;
  }

}