.contbox {
  padding: 70px 0;

  & + .contbox {
    margin-top: 80px;
  }

}

@media screen and (min-width:850px) {
  .u-sp-b {
    display: none;
  }

}

@media screen and (max-width:849px) {
  .u-pc-b {
    display: none;
  }

}