.bgc {
  background-color: rgba(0, 0, 0, 0.6);

  .header-logo {
    width: 75px;
    max-width: inherit;

    a {
      display: block;
    }

  }

}

.reservedbnr {
  position: fixed;
  top: 110px;
  width: auto;
  right: 0;

  img {
    width: 100%;
  }

}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  color: #fff;
  padding: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  .header-logo {
    width: 95px;
    max-width: inherit;

    a {
      display: block;
    }

    img {
      width: 100%
    }

  }

  &.u-pc-b {
    .header-search {
      width: 155px;
      margin-left: 20px;

      input {
        border: none;
        width: 100%;
        height: 27px;
        background: rgba(255, 255, 255, 0.4) url("../images/common/ico-search--wh.png") 95% 45% no-repeat;
        background-size: 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding-left: 5px;
        padding-right: 26px;
      }

    }

    .header-language {
      width: 150px;
      margin-right: 0;
      top: 0;
    }

    .header-nav_top {
      text-align: right;

      .header-sns,
      .header-language,
      .header-search {
        display: inline-block;
      }

    }

    .header-nav_bottom {
      line-height: 1;
      position: relative;
      top: -3px;
    }

    .header-g_navi {
      display: block;
      position: static;
      background: transparent;
      width: auto;
      height: auto;
      padding: 0;
      margin-top: 20px;

      .header-g_navi_list {
        margin-top: -2px;
        text-align: center;

        li {
          display: inline-block;
        }

        a {
          padding: 5px 0;
        }

        > li {
          > a {
            display: block;
            color: #fff;
            font-size: 14rem;
            padding: 3px 18px;
            border-left: 1px dotted #fff;
            letter-spacing: 0.07em;
          }

          &:last-child > a {
            border-right: 1px dotted #fff;
          }

        }

      }

    }

    .header-sns {
      width: 27px;
      margin: 0;
      display: inline-block;

      li {
        float: none;
        display: inline-block;
        width: auto;

        a {
          padding: 3px 5px;
          display: block;
        }

      }

      .header-sns--insta {
        line-height: 0;
        width: 18px;
        vertical-align: middle;
      }

      .header-sns--fb {
        line-height: 0;
        width: 19px;
        vertical-align: middle;
      }

    }

  }

}

.header-sublink {
  font-size: 14rem;
  margin-top: 4px;

  li {
    display: inline-block;
    margin-left: 20px;

    a {
      color: #fff;
    }

  }

}

header.u-pc-b .header-g_navi {
  .header-g_navi_list-inlist {
    visibility: hidden;
    display: block;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .header-g_navi_list {
    .header-g_navi_list-inlist {
      position: absolute;
      text-shadow: 1px 1px 3px #000;
      top: 25px;
      left: 0;
      width: 220px;
      padding: 5px 0;

      a {
        font-size: 14rem;
        letter-spacing: 0.1em;
      }

    }

    .toggle {
      position: relative;
      padding: 4px 0;

      li {
        display: block;
        text-align: left;
        padding: 2px 20px;
      }

      &:hover {
        .header-g_navi_list-inlist {
          visibility: visible;
          opacity: 1;

          li {
            a {
              border: none;
            }

          }

        }

      }

      .header-g_navi_list-inlist:hover {
        opacity: 1;
      }

    }

  }

  > li {
    > a {
      display: block;
      color: #fff;
      font-size: 14rem;
      padding: 3px 18px;
      border-left: 1px solid #777;
      letter-spacing: 0.07em;
    }

    &:last-child > a {
      border-right: 1px solid #777;
    }

  }

}