.centering {
  padding: 0 3%;
}

.content_box {
  margin: 40px 0;
  text-align: center;
  padding: 0 3%;
}

.fv {
  height: 100vh;
  background: url("/images/bg-top--pc.jpg") no-repeat center / cover;
  position: relative;

  &-inner {
    position: absolute;
    width: 260px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    text-align: center;
    color: #fff;

    .ttl {
      display: block;
      letter-spacing: 0.4em;
      margin-bottom: 15px;
    }

  }

  &-detail {
    margin-top: 20px;
    color: #fff;
    min-width: 275px;
    text-align: center;
  }

}

.news-bar {
  background-color: #B40000;
  color: #fff;
  padding: 10px 0;

  dt {
    font-size: 12rem;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

}

.about {
  margin: 30px 0;
  text-align: center;

  .txt {
    p+ p {
      margin-top: 20px;
    }

  }

  &-inner {
    border-top: 6px solid #D81717;
    border-bottom: 6px solid #D81717;
    padding: 40px 0px 60px;
    background: url("/images/img-gems.svg") no-repeat center 100.3%;
    background-size: contain;
  }

}

.wanted {
  margin-top: 80px;
}

.guest {
  margin-top: 110px;

  .under_bar {
    margin-bottom: 50px;

    &:before {
      bottom: -23px;
    }

  }

  .guest_box {
    margin-top: 80px;

    figcaption {
      margin-top: 15px;
    }

    .guest_box-name {
      display: block;
      font-weight: bold;
      font-size: 22rem;
      letter-spacing: 0.1em;
    }

    .guest_box-company {
      display: block;
    }

  }

}

.ippan {
  padding: 60px 0;
  text-align: center;
}

.top-rubytxt {
  line-height: 1;
  display: block;
  width: 40%;
  max-width: 130px;
  margin: 0 auto;
}