.fv {
  height: 40vh;

  .fv-inner {
    top: 49%;
  }

  .fv-detail {
    margin-top: 10px;
  }

  .logo {
    margin-left: 3px;
    min-width: 280px;

    .logo_img {
      width: 280px;
    }

    .ttl {
      font-size: 19rem;
    }

  }

  .shortcut-sp {
    display: none;
  }

  .shortcut-pc {
    position: absolute;
    bottom: 0;
    right: 20px;
    display: block;
    margin-top: 30px;
    width: 33%;
  }

  .shortcutlist {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: -37px;
  }

}

.circleico {
  padding: 5px;
  width: 90px;
  display: block;
}

.continner {
  width: 850px;
  margin: 0 auto;
  padding: 0;
}

.about {
  .right {
    float: right;
    width: 560px;
  }

  .imgbox {
    float: left;
    width: 230px;
    margin-right: 30px;
    margin-top: 0;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;

    img {
      padding: 5px 0;
      width: 100%;
    }

  }

}

.guest {
  background: transparent;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 59%;
    padding-top: 50px;
    height: 60%;
    width: 100%;
    top: -10px;
    z-index: -1;
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  }

  .guestblock {
    padding: 11px 10px 40px;
    border: 1px solid #DEDEDE;
  }

  &box {
    float: left;
    width: 47.4%;
    margin-left: 3%;

    &:first-child {
      margin-left: 1%;
    }

    & + .guestbox {
      margin-top: 0;

      &:before {
        display: none;
      }

    }

    figcaption {
      margin-top: 5px;

      span {
        display: block;
      }

      .name {
        font-size: 22rem;
        font-weight: bold;
      }

      .company {
        font-size: 14rem;
      }

    }

    &_txt {
      margin-top: 12px;
    }

    .detail {
      float: right;
      width: 93%;
    }

    .sns {
      width: 5%;
      float: left;
      margin-left: 0;
      margin-right: 2%;

      ul {
        display: block;
        min-width: inherit;
        width: 100%;
      }

      li {
        display: inline-block;
        padding: 5px 0 0;
      }

    }

  }

}

.attend {
  background: url("../images/bg-attend--pc.jpg") no-repeat top center / cover;

  .btn {
    display: inline-block;

    .basic {
      min-width: 220px;
    }

    &  + .btn {
      margin-top: 0;
    }

  }

}

.timetable {
  table {
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
  }

}

.party {
  .txtbox {
    text-align: left;
  }

  .imgbox {
    float: right;
    width: 52%;
  }

  .pc-left {
    float: left;
    width: 48%;
  }

  &.contbox {
    margin-top: 0;
  }

  .ttl--center {
    text-align: left;

    span {
      &:before {
        left: inherit;
        left: 0;
        margin: inherit;
      }

    }

  }

}

.sponsor {
  .centering {
    padding: 30px 3%;
  }

  .sponsorblock {
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: 10px 0 70px;
    background-color: #fff;

    & + .sponsorblock {
      margin-top: 60px;
    }

    &.first {
      margin-top: 80px;
    }

  }

  .sponsorbox {
    width: 80%;
    max-width: 300px;
    float: left;
    margin: 0 auto;
    font-size: 12rem;
    margin-left: 9%;
    display: inline-block;

    img {
      width: 60%;
      margin: 0 auto;
      display: block;
    }

    .rubynokai {
      padding: 50px 0 35px;
      width: 75%;
    }

    figcaption {
      margin-top: 15px;
      line-height: 1.8;
      text-align: left;
    }

    margin-top: 40px;
  }

  .floatnone {
    margin-left: 0;
  }

}

.access {
  .map {
    margin-top: 20px;
    height: 450px;
    width: 100%;
  }

}

.subarea {
  .subbox {
    float: left;
    width: 46%;
    margin-left: 3%;

    .txtbox {
      font-size: 14rem;
      font-weight: normal;
    }

    &+.subbox {
      margin-top: 0;
    }

  }

  .contact {
    background-image: url("../images/bg-contact.jpg");
  }

  .staff {
    background-image: url("../images/bg-staff.jpg");
  }

}