.centering {
  padding: 0 3%;
}

.content_box {
  margin: 40px 0;
  text-align: center;
  padding: 0 3%;
}

.fv {
  height: 100vh;
  background: url("../images/bg-top--pc.jpg") no-repeat center / cover;
  position: relative;

  &-inner {
    position: absolute;
    width: 260px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    text-align: center;
    color: #fff;

    .ttl {
      display: block;
      letter-spacing: 0.4em;
      margin-bottom: 15px;
    }

  }

  &-detail {
    margin-top: 20px;
    color: #fff;
    min-width: 275px;
    text-align: center;
  }

}

.news-bar {
  background-color: #B40000;
  color: #fff;
  padding: 10px 0;

  dt {
    font-size: 12rem;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

}

.about {
  margin: 30px 0;
  text-align: center;

  .txt {
    p+ p {
      margin-top: 20px;
    }

  }

  &-inner {
    border-top: 6px solid #D81717;
    border-bottom: 6px solid #D81717;
    padding: 40px 0px 60px;
    background: url("../images/img-gems.svg") no-repeat center 100.3%;
    background-size: contain;
  }

}

.wanted {
  margin-top: 80px;
}

.guest {
  margin-top: 110px;

  .under_bar {
    margin-bottom: 50px;

    &:before {
      bottom: -23px;
    }

  }

  .guest_link {
    margin-top: 10px;

    li {
      display: inline-block;
      position: relative;
      margin-left: 4px;
      padding-left: 11px;

      &:before {
        position: absolute;
        display: block;
        content: "/";
        left: -2px;
      }

      &:first-child {
        margin-left: 0;
        padding-left: 0;

        &:before {
          display: none;
          content: "";
        }

      }

    }

  }

  .guest_box {
    margin-top: 80px;

    figcaption {
      margin-top: 15px;
    }

    .guest_box-name {
      display: block;
      font-weight: bold;
      font-size: 22rem;
      letter-spacing: 0.1em;
    }

    .guest_box-company {
      display: block;
    }

  }

}

.ippan {
  padding: 60px 0;
  text-align: center;
}

.top-rubytxt {
  line-height: 1;
  display: block;
  width: 40%;
  max-width: 130px;
  margin: 0 auto;
}

.staff {
  margin-top: 120px;
  background-color: #eee;

  &.content_box {
    padding-bottom: 60px;
  }

  .staff_list {
    text-align: center;
    position: relative;
    z-index: 10;

    li {
      width: 17%;
      display: inline-block;
      margin-left: 2%;
      margin-top: 14px;
      vertical-align: top;

      span {
        display: block;
      }

      img {
        vertical-align: top;
      }

      .detail {
        margin-top: 10px;
        display: block;
        font-size: 10rem;
        text-decoration: none;

        .job {
          font-size: 9rem;
          line-height: 1;
          color: #8A8A8A;
        }

        .name {
          word-break: break-all;
          line-height: 1.4;
          color: #3DA69C;
        }

      }

    }

  }

  .staff_block {
    margin-top: 20px;
    padding: 40px 0 30px;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 1px solid #929292;
      border-bottom: 1px solid #929292;
      z-index: 1;
    }

  }

  .staff_ttl {
    position: absolute;
    top: -17px;
    z-index: 5;
    display: block;
    font-weight: bold;
    font-size: 18rem;
    padding: 5px 15px;
    background: #fff;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    min-width: 180px;
  }

}