.centering {
  padding: 0 3%;
}

.fv {
  height: 100vh;
  background: url("../images/bg-top--pc.jpg") no-repeat center / cover;
  position: relative;

  p + p {
    margin-top: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #B12C2C;
  }

  &-inner {
    position: absolute;
    width: 40%;
    min-width: 260px;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    text-align: center;
    color: #fff;

    .ttl {
      display: block;
      letter-spacing: 0.4em;
      margin-bottom: 15px;
    }

  }

  &-detail {
    margin-top: 20px;
    color: #fff;
    min-width: 275px;
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  .shortcut-pc {
    display: none;
  }

  .shortcut-sp {
    display: block;
    margin-top: 30px;

    .btn {
      & + .btn {
        margin-top: 15px;
      }

      .basic {
        text-decoration: none;
        width: 100%;
      }

    }

  }

}

.about {
  margin-top: 20px;

  .imgbox {
    margin-top: 40px;

    img {
      width: 33.33%;
      float: left;
      padding: 0 1%;
    }

  }

}

.guest {
  background-image: linear-gradient(to bottom, #ed6ea0 0%, #ec8c69 100%);

  .guestblock {
    border: 1px solid #F8F8F8;
    background-color: #fff;
    padding: 10px;
  }

  &box {
    & + .guestbox {
      margin-top: 70px;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 75px;
        height: 1px;
        background: #D71717;
        position: absolute;
        top: -46px;
        left: 0;
        right: 0;
        margin: auto;
      }

    }

    figcaption {
      margin-top: 5px;

      span {
        display: block;
      }

      .name {
        font-size: 22rem;
        font-weight: bold;
      }

      .company {
        font-size: 14rem;
      }

    }

    &_txt {
      margin-top: 12px;
    }

    .sns {
      margin-top: 10px;
      margin-left: -10px;

      ul {
        display: table;
        width: 20%;
        min-width: 100px;
      }

      li {
        display: table-cell;
        padding: 0 10px;
      }

    }

  }

}

.attend {
  background: url("../images/bg-attend--sp.jpg") no-repeat top center / cover;

  .btn + .btn {
    margin-top: 10px;
  }

}

.workshop {
  text-align: center;

  &.contbox {
    padding: 0 0 50px;
  }

  .name {
    font-weight: bold;
    font-size: 20rem;
  }

  .txt {
    font-size: 14rem;
  }

  .workshopbox {
    & + .workshopbox {
      margin-top: 40px;
    }

  }

  .place {
    margin-top: 5px;
  }

  .time {
    margin-top: 0;
  }

}

.party {
  &.contbox {
    margin-top: 10px;
  }

  .txtbox {
    text-align: center;
  }

  .imgbox {
    width: 80%;
    margin: 15px auto 0;
  }

}

.sponsor {
  background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);

  .centering {
    padding: 30px 3%;
  }

  .sponsorblock {
    border-radius: 10px;
    position: relative;
    padding: 10px 0 70px;
    background-color: #fff;

    & + .sponsorblock {
      margin-top: 60px;
    }

    &.first {
      margin-top: 80px;
    }

  }

  .sponsorbox {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 12rem;

    img {
      width: 60%;
      margin: 0 auto;
      display: block;
    }

    figcaption {
      margin-top: 15px;
      line-height: 1.8;
    }

    margin-top: 40px;
  }

}

.access {
  .continner {
    padding: 0;
  }

  .map {
    margin-top: 20px;
    height: 400px;
    width: 100%;
  }

}

.subarea {
  a {
    padding: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  &.contbox {
    margin-top: 0px;
    padding: 20px 0 60px;
  }

  .linkbox {
    margin-top: 30px;
    text-align: right;
    padding-right: 5px;
  }

  .subbox {
    width: 85%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .txtbox {
      font-size: 14rem;
      font-weight: normal;
    }

    &+.subbox {
      margin-top: 30px;
    }

  }

  .contact {
    background-image: url("../images/bg-contact.jpg");
  }

  .staff {
    background-image: url("../images/bg-staff.jpg");
  }

}