.centering {
  padding: 0 3%;
}

.fv {
  height: 100vh;
  background: url("../images/bg-top--pc.jpg") no-repeat center / cover;
  position: relative;

  p + p {
    margin-top: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #B12C2C;
  }

  &-inner {
    position: absolute;
    width: 40%;
    min-width: 260px;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    text-align: center;
    color: #fff;

    .ttl {
      display: block;
      letter-spacing: 0.4em;
      margin-bottom: 15px;
    }

  }

  &-detail {
    margin-top: 20px;
    color: #fff;
    min-width: 275px;
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  .shortcut-pc {
    display: none;
  }

  .shortcut-sp {
    display: block;
    margin-top: 30px;

    .btn {
      & + .btn {
        margin-top: 15px;
      }

      .basic {
        text-decoration: none;
        width: 100%;
      }

    }

  }

}

.about {
  margin-top: 20px;

  .imgbox {
    margin-top: 40px;

    img {
      width: 33.33%;
      float: left;
      padding: 0 1%;
    }

    figcaption {
      font-size: 14rem;
    }

  }

}

.guest {
  background-image: linear-gradient(to bottom, #ed6ea0 0%, #ec8c69 100%);

  .guestblock {
    border: 1px solid #F8F8F8;
    background-color: #fff;
    padding: 10px;
  }

  &box {
    & + .guestbox {
      margin-top: 70px;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 75px;
        height: 1px;
        background: #D71717;
        position: absolute;
        top: -46px;
        left: 0;
        right: 0;
        margin: auto;
      }

    }

    figcaption {
      margin-top: 5px;

      span {
        display: block;
      }

      .name {
        font-size: 22rem;
        font-weight: bold;
      }

      .company {
        font-size: 14rem;
      }

    }

    &_txt {
      margin-top: 12px;
    }

    .sns {
      margin-top: 10px;
      margin-left: -10px;

      ul {
        display: table;
        width: 20%;
        min-width: 100px;
      }

      li {
        display: table-cell;
        padding: 0 10px;
      }

    }

  }

}

.attend {
  background: url("../images/bg-attend--sp.jpg") no-repeat top center / cover;

  .btn + .btn {
    margin-top: 10px;
  }

}

.timetable {
  text-align: center;

  .schedule {
    margin-left: 6%;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -15px;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: #ededed;
    }

    td,
    th {
      display: block;
      text-align: left;
    }

    .time {
      position: relative;
      margin-top: 20px;

      &:before {
        content: "";
        position: absolute;
        left: -22px;
        top: 4px;
        width: 15px;
        height: 14px;
        background-color: #b41010;
        border-radius: 50%;
      }

      span {
        letter-spacing: 0.1em;
        line-height: 1;
      }

      .starttime {
        font-size: 20rem;
        color: #b41010;
      }

    }

    .other {
      margin: 10px 0;
      padding: 10px;
      font-size: 14rem;
      background-color: #ededed;
    }

    .session {
      position: relative;
      border-radius: 10px;
      background-color: #4f849c;
      color: #fff;
      margin: 20px 0;
      padding: 15px 10px;

      &:before {
        position: absolute;
        top: -10px;
        left: 15px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #4f849c;
      }

      .timettl {
        font-weight: bold;
        font-size: 18rem;
        line-height: 1.2;
        letter-spacing: 0.05em;
      }

      .speakerdetail {
        margin-top: 15px;
        vertical-align: top;
        position: relative;

        &:before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.4);
          position: absolute;
          top: -8px;
          left: 0;
        }

        .speakerimg {
          vertical-align: middle;
          max-width: 50px;
        }

        .speakername {
          display: inline-block;
          margin-left: 5px;
        }

        .sns {
          display: block;
          text-align: right;

          li {
            display: inline-block;

            &:last-child {
              &:before {
                content: "\00ff0f";
              }

            }

            a {
              color: #fff;
            }

          }

        }

      }

    }

  }

  .workshop {
    margin-top: 100px;
  }

}

.party {
  &.contbox {
    margin-top: 10px;
  }

  .txtbox {
    text-align: center;
  }

  .imgbox {
    width: 80%;
    margin: 15px auto 0;
  }

}

.sponsor {
  background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);

  .centering {
    padding: 30px 3%;
  }

  .sponsorblock {
    border-radius: 10px;
    position: relative;
    padding: 10px 0 70px;
    background-color: #fff;

    & + .sponsorblock {
      margin-top: 60px;
    }

    &.first {
      margin-top: 80px;
    }

  }

  .sponsorbox {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    font-size: 12rem;

    img {
      width: 60%;
      margin: 0 auto;
      display: block;
    }

    figcaption {
      margin-top: 15px;
      line-height: 1.8;
    }

    margin-top: 40px;
  }

}

.access {
  .continner {
    padding: 0;
  }

  .map {
    margin-top: 20px;
    height: 400px;
    width: 100%;
  }

  .maplink {
    margin-top: 5px;
    text-align: right;
  }

}

.subarea {
  a {
    padding: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  &.contbox {
    margin-top: 0px;
    padding: 20px 0 60px;
  }

  .linkbox {
    margin-top: 30px;
    text-align: right;
    padding-right: 5px;
  }

  .subbox {
    width: 85%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .txtbox {
      font-size: 14rem;
      font-weight: normal;
    }

    &+.subbox {
      margin-top: 30px;
    }

  }

  .contact {
    background-image: url("../images/bg-contact.jpg");
  }

  .staff {
    background-image: url("../images/bg-staff.jpg");
  }

}